<section class="about" id="about-block">
    <div class="about__banner">
        <div class="about__slider">
            <button class="about__nav-button about__nav-button--prev" aria-label="Предыдущий слайд"></button>
            <button class="about__nav-button about__nav-button--next" aria-label="Следующий слайд"></button>
            <div class="about__slides">
                <!-- Слайд 1 -->
                <div class="about__slide">
                    <img src="static/images/about-banner1.png" alt="about_banner" class="about__slide-img">
                    <div class="about__banner-content">
                        <div class="about__1th_slide">
                            <h1 class="about__title">
                                Мы знаем, что поломки — это потерянные возможности для бизнеса.
                                <span class="about__subtitle">Наш автосервис «ГазАвтоСервис» предлагает ремонт и обслуживание коммерческого</br> транспорта, которые минимизируют простои и потерю денег.</span>
                            </h1>
                            <button class="button about__button open-popup">
                                Получить консультацию
                            </button>
                        </div>
                    </div>
                </div>
                <div class="about__slide">
                    <img src="static/images/about-banner21.png" alt="about_banner" class="about__slide-img-desktop">
                    <img src="static/images/about_tablet-2th-slide.png" alt="about_banner" class="about__slide-img-tablet">
                    <img src="static/images/about_mobile-2th-slide1.png" alt="about_banner" class="about__slide-img-mobile">
                    <div class="about__banner-content">
                        <div class="about__slide_2">
                                <div class="about__banner-content__side1">
                                    <h1 class="about__title__slide2">
                                        пройди комплексное<br>
                                        <span class="second-line">
                                          ТО в<span class="custom-font">ГазАвто<span style="color: #F1721B;">Сервис</span></span> 
                                        </span>
                                    </h1>
                                    <button class="button about__button-2th_slide open-popup">
                                        Записаться на ТО
                                    </button>
                                </div>
                                <div class="about__prices">
                                    <div class="about__price-item">
                                        <span class="about__vehicle">Газель Бизнес с двигателем<br> УМЗ 4216 / А274</span>
                                        <span class="about__price">— 12.165₽</span>
                                    </div>
                                    <div class="about__price-item">
                                        <span class="about__vehicle">УАЗ Profi Patriot с двигателем<br> ЗМЗ 409</span>
                                        <span class="about__price">— 15.650₽</span>
                                    </div>
                                    <div class="about__price-item">
                                        <span class="about__vehicle">Валдай next (8) с двигателем<br> Cummins и с двигателем G-серии</span>
                                        <span class="about__price-group">
                                            <span class="about__dash">—</span>
                                            <span class="about__prices-group">
                                                <span class="about__price">29.500₽</span>
                                                <span class="about__price">33.500₽</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="about__price-item">
                                        <span class="about__vehicle">Газон next с двигателем ЯМЗ 534</span>
                                        <span class="about__price">— 35.890₽</span>
                                    </div>
                                    <span class="about__price-group">
                                        <span class="about__vehicle">Газель next с двигателем<br> Cummins 2.8 / g-21</span>
                                        <span class="about__dash">—</span>
                                        <span class="about__prices-group">
                                            <span class="about__price">19.300₽</span>
                                            <span class="about__price">21.500₽</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <p class="about__included">
                                    В стоимость включены все расходные материалы: масло, фильтры и работы по замене материалов
                            </p>
                    </div>
                </div>
                <!-- Слайд 3 - 3D сход-развал -->
                <div class="about__slide">
                    <img src="static/images/about-banner3.png" alt="about_banner" class="about__slide-img">
                    <div class="about__banner-content">
                        <div class="about__3th_slide">
                            <h1 class="about__title__slide3">
                                <span style="color: #F1721B;">3D</span> сход-развал
                            </h1>
                            <p class="about__subtitle__slide2">
                                Любые габариты. Идеальная точность.
                            </p>
                            <div class="about__alignment-info">
                                <p class="about__alignment-price">
                                    Стоимость работы — <span style="color: #F1721B;">От 3 500 руб.</span>
                                </p>
                                <div class="about__alignment-info">
                                    <p class="about__alignment-info-text">
                                        Записаться на развал-схождение
                                    </p>
                                </div>
                                <div class="about__alignment-buttons">
                                    <button class="button about__button-2slide about__button--secondary open-popup">
                                        Записаться
                                    </button>
                                </div>
                                <p class="about__alignment-phone">
                                    или по номеру телефона: <strong>+7 (812) 923-37-88</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about__slide">
                    <img src="static/images/about-banner4.png" alt="about_banner" class="about__slide-img">
                    <div class="about__banner-content">
                        <div class="about__4th_slide">
                            <div class="about__info-item">
                                <img src="static/images/about-icon.png" alt="about_icon" class="about__info-icon" width="48px" height="48px">
                                <p class="about__info-text">
                                    Современное, технологичное оборудование
                                </p>
                            </div>
                            <div class="about__info-item">
                                <img src="static/images/about-icon.png" alt="about_icon" class="about__info-icon" width="48px" height="48px">
                                <p class="about__info-text">
                                    Мастера высокой квалификации
                                </p>
                            </div>
                            <div class="about__info-item">
                                <img src="static/images/about-icon.png" alt="about_icon" class="about__info-icon" width="48px" height="48px">
                                <p class="about__info-text">
                                    Кратчайшие сроки по&nbsp;выявлению и&nbsp;исправлению дефектов
                                </p>
                            </div>
                            <div class="about__info-item">                            
                                <img src="static/images/about-icon.png" alt="about_icon" class="about__info-icon" width="48px" height="48px">
                                <p class="about__info-text">
                                    Удобное транспортное расположение. Закрытая территория, своя стоянка для&nbsp;авто, высота ворот 4,5&nbsp;метра
                                </p>
                            </div>
                            <div class="about__info-item">
                                <img src="static/images/about-icon.png" alt="about_icon" class="about__info-icon" width="48px" height="48px">
                                <p class="about__info-text">
                                    Наличный и&nbsp;безналичный расчёт, работаем с&nbsp;НДС
                                </p>
                            </div>
                            <div class="about__info-item">
                                <img src="static/images/about-icon.png" alt="about_icon" class="about__info-icon" width="48px" height="48px">
                                <p class="about__info-text">
                                    Работаем ежедневно
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__pagination"></div>
        </div>
        <!-- <div class="about__banner-content">
            <h1 class="about__title">
                Мы знаем, что поломки — это потерянные возможности для бизнеса.
                <span class="about__subtitle">Наш автосервис «ГазАвтоСервис» предлагает ремонт и обслуживание коммерческого</br> транспорта, которые минимизируют простои и потерю денег.</span>
            </h1>
            <button class="button about__button open-popup">
                Получить консультацию
            </button>
        </div> -->
    </div>
</section>

<script>// static/js/slider.js
document.addEventListener('DOMContentLoaded', function() {
    const slidesWrapper = document.querySelector('.about__banner');
    const slidesContainer = document.querySelector('.about__slides');
    const slides = document.querySelectorAll('.about__slide'); // Нужно добавить обертку для каждого слайда
    const pagination = document.querySelector('.about__pagination');
    const prevBtn = document.querySelector('.about__nav-button--prev');
    const nextBtn = document.querySelector('.about__nav-button--next');
    
    let currentIndex = 0;
    const slideCount = slides.length;

    // Создаем пагинацию
    for (let i = 0; i < slideCount; i++) {
        const dot = document.createElement('div');
        dot.className = 'photos__pagination-line';
        if (i === 0) dot.classList.add('active');
        dot.addEventListener('click', () => goToSlide(i));
        pagination.appendChild(dot);
    }

    // Функция переключения слайдов
    function goToSlide(index) {
        currentIndex = index;
        const offset = -currentIndex * 100;
        
        slidesContainer.style.transform = `translateX(${offset}%)`;
        
        // Обновляем активную точку
        document.querySelectorAll('.photos__pagination-line').forEach((dot, i) => {
            dot.classList.toggle('active', i === currentIndex);
        });
    }

    prevBtn.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + slideCount) % slideCount;
        goToSlide(currentIndex);
        restartAutoSlide();
    });

    nextBtn.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % slideCount;
        goToSlide(currentIndex);
        restartAutoSlide();
    });

    startAutoSlide();
    slidesWrapper.addEventListener('mouseenter', stopAutoSlide);
    slidesWrapper.addEventListener('mouseleave', startAutoSlide);
    slidesWrapper.addEventListener('touchstart', stopAutoSlide);


     setInterval(() => {
         currentIndex = (currentIndex + 1) % slideCount;
        goToSlide(currentIndex);
     }, 7000);
      // Функция остановки автопрокрутки
    function stopAutoSlide() {
        if (autoSlideInterval) {
            clearInterval(autoSlideInterval);
            autoSlideInterval = null;
        }
    }

    // Функция перезапуска автопрокрутки
    function restartAutoSlide() {
        stopAutoSlide();
        startAutoSlide();
    }
});        const slidesWrapper = document.querySelector('.about__banner,');
        const slides = document.querySelector('.about__slides');
        const slideItems = document.querySelectorAll('.about__slide-img');
        const pagination = document.querySelector('.about__pagination');
        const prevBtn = document.querySelector('.photos__arrow--prev');
        const nextBtn = document.querySelector('.photos__arrow--next');
        const content = document.querySelectorAll('.about__banner-content, .about__banner-content__complex-side')
        
        let currentIndex = 0;
        let slideWidth = slideItems[0].offsetWidth  // Ширина слайда + gap
        let wrapperWidth = slidesWrapper.offsetWidth;
        let totalSlidesWidth = slideItems.length * slideWidth;

        // Рассчитываем максимально возможное смещение
        let maxOffset = Math.max(0, totalSlidesWidth - wrapperWidth); 

        window.addEventListener("resize", () => {
            slideWidth = slideItems[0].offsetWidth  // Ширина слайда + gap
            wrapperWidth = slidesWrapper.offsetWidth;
            totalSlidesWidth = slideItems.length * slideWidth;

        // Рассчитываем максимально возможное смещение
            maxOffset = Math.max(0, totalSlidesWidth - wrapperWidth); 
        })

        content.forEach((el, index) => {            
            currentIndex = index;
            let offset = currentIndex * slideWidth;
            
            // // Ограничиваем смещение, чтобы не уходить в белое пространство
            offset = Math.min(offset, maxOffset);
            // content[index].style.left = offset;
        })
        
        // Функция переключения слайдов
        function goToSlide(index) {
            currentIndex = index;
            let offset = currentIndex * slideWidth;
            
            // Ограничиваем смещение, чтобы не уходить в белое пространство
            offset = Math.min(offset, maxOffset);
            
            
            slides.style.transform = `translateX(-${offset}px)`;
            
            // Блокируем кнопки при достижении границ
            prevBtn.disabled = currentIndex === 0;
            nextBtn.disabled = offset >= maxOffset;
        }
        
        // Остальной код (кнопки, автопрокрутка) без изменений
        // ...
</script>