<section class="about" id="about-block">
    <div class="about__content-wrapper">
       <div class="about__content">
            <h1 class="about__title">
                Мы знаем, что поломки — это потерянные возможности для бизнеса. <br />
                Наш автосервис в г. Колтуши  «ГАЗ Сервис» предлагает ремонт и обслуживание коммерческого транспорта, которые минимизируют простои и потерю денег.
            </h1>
            <button class="button about__button open-popup">
                Получить консультацию
            </button>
       </div>
    </div>
    <picture class="about__img-wrapper">
        <img src="static/images/about.png" alt="О компании" class="about__img" />
    </picture>    
    <div class="about__content_mobile">
        <h2 class="about__title_mobile">
            Мы знаем, что поломки — это потерянные возможности для бизнеса.
            Наш автосервис в г. Колтуши  «ГАЗ Сервис» предлагает ремонт и обслуживание коммерческого транспорта, которые минимизируют простои и потерю денег.
        </h2>
        <button class="about__button button open-popup">
            Записаться на сервис
        </button>
    </div>
</section>