<section class="about" id="about-block">
    <div class="about__banner">
        <div class="about__banner-content">
            <h1 class="about__title">
                Мы знаем, что поломки — это потерянные возможности для бизнеса.
                <span class="about__subtitle">Наш автосервис «ГАЗ Сервис» предлагает ремонт и обслуживание коммерческого транспорта, которые минимизируют простои и потерю денег.</span>
            </h1>
            <button class="button about__button open-popup">
                Получить консультацию
            </button>
        </div>
    </div>
</section>