<section >
    <ul class="advantages__list">
        <li>
            <h3 class="advantages__title">
                Наши преимущества
            </h3>
            <p class="advantages__info">
                Мы — узкопрофильные специалисты по коммерческим маркам ГАЗ и LADA, с комплексным и оперативным подходом к обслуживанию и ремонту. С нами ваш бизнес всегда будет в движении, а риски поломок и затраты на эксплуатацию сведены к минимуму.
            </p>
        </li>
        <li class="advantages-card">
            <h4 class="advantages-card__title">
                Точная диагностика
            </h4>
            <p class="advantages-card__text">
                Мы предлагаем профессиональное обслуживание коммерческого транспорта с минимальными простоями и гарантией надежности.
            </p>
        </li>
        <li class="advantages-card">
            <h4 class="advantages-card__title">
                Внимание к деталям
            </h4>
            <p class="advantages-card__text">
                Наши специалисты обладают глубокими знаниями и опытом работы с коммерческим автопарком, что позволяет обеспечивать точную диагностику, оперативный ремонт и техобслуживание.
            </p>
        </li>
        <li class="advantages-card">
            <h4 class="advantages-card__title">
                Контроль качества
            </h4>
            <p class="advantages-card__text">
                Мы предлагаем профессиональное обслуживание коммерческого транспорта с минимальными простоями и гарантией надежности.
            </p>
        </li>
    </ul>
</section>