<!-- advantages.html -->
<section class="advantages" id="advantages-block">
    <div class="advantages__container">
        <div class="advantages-header">
            <h2 class="advantages__title">Наши преимущества</h2>
            <p class="advantages__info">
                Мы — узкопрофильные специалисты по коммерческим маркам ГАЗ и LADA, с комплексным и оперативным подходом к обслуживанию и ремонту.С нами ваш бизнес всегда будет в движении, а риски поломок и затраты на эксплуатацию сведены к минимуму.</p>
        </div>
        
        <div class="advantages-grid">
            <div class="advantages-card">
                <div class="advantages-card__row">
                    <img src="static/images/svg/advantages-img1.svg" class="advantages-card-icon" alt="Внимание к деталям">
                    <div class="advantages-card__content">
                        <h3 class="advantages-card__title">Внимание к деталям</h3>
                        <p class="advantages-card__text">
                            Каждый автомобиль — уникален, как и его история эксплуатации. Наша задача — не просто устранить видимую проблему, а выявить её корень и предотвратить возможные сбои в будущем. Мы понимаем, что ремонт коммерческого транспорта требует особого подхода, и именно поэтому уделяем внимание каждой детали.                        </p>
                    </div>
                </div>
            </div>
            
            <div class="advantages-card">
                <div class="advantages-card__row">
                    <img src="static/images/svg/advantages-img2.svg" class="advantages-card-icon" alt="Контроль качества">
                    <div class="advantages-card__content">
                        <h3 class="advantages-card__title">Контроль качества на каждом этапе</h3>
                        <p class="advantages-card__text">
                            Процесс отслеживания качества услуг начинается с момента, когда ваш автомобиль въезжает сервисный центр, и продолжается до его выдачи. Мы используем современное диагностическое оборудование, которое позволяет точно определить все возможные неисправности. После ремонта каждый автомобиль проходит дополнительную проверку, чтобы убедиться в том, что все работы выполнены на высшем уровне.</p>
                    </div>
                </div>
            </div>
            
            <div class="advantages-card">
                <div class="advantages-card__row">
                    <img src="static/images/svg/advantages-img3.svg" class="advantages-card-icon" alt="Индивидуальный подход">
                    <div class="advantages-card__content">
                        <h3 class="advantages-card__title">Индивидуальный подход к каждому клиенту</h3>
                        <p class="advantages-card__text">
                            Мы ценим доверие наших клиентов и всегда стремимся выстраивать долгосрочные отношения. В зависимости от ваших нужд и графика работы, мы предлагаем гибкие условия обслуживания, которые минимизируют простои транспорта. Мы работаем как с частными лицами, так и с корпоративными клиентами, обеспечивая качественный ремонт Газелей и других моделей.</p>
                    </div>
                </div>
            </div>
            
            <div class="advantages-card">
                <div class="advantages-card__row">
                    <img src="static/images/svg/advantages-img4.svg" class="advantages-card-icon" alt="Забота о бизнесе">
                    <div class="advantages-card__content">
                        <h3 class="advantages-card__title">Забота о вашем бизнесе — наша главная цель</h3>
                        <p class="advantages-card__text">
                            Наша главная задача — сделать так, чтобы ваш бизнес работал бесперебойно. Мы понимаем, что каждый день простоя — это убытки. Поэтому работаем оперативно, но без потери качества, чтобы вы могли вернуть ваш авто в строй в кратчайшие сроки.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>