<section class="conditions">
    <h2 class="title conditions__title">
        Условия для юридических лиц
    </h2>
    <ul class="conditions__list">
        <li class="conditions__item">
            <h3 class="conditions__item-title">
                Комплексное обслуживание автопарков
            </h3>
            <p class="conditions__item-content">
                ГАЗ Сервис предлагает уникальные условия обслуживания для юридических лиц, чей бизнес зависит от бесперебойной работы коммерческого транспорта. Мы понимаем, что простой автопарка — это прямые убытки, поэтому предлагаем решения, которые помогут вашему бизнесу всегда оставаться на ходу.
            </p>
        </li>
        <li class="conditions__item">
            <img src="static/images/motor.png" class="conditions__item-img" alt="motod" />
        </li>
        <li class="conditions__item">
            <h3 class="conditions__item-title">
                Поддержка и консультации
            </h3>
            <p class="conditions__item-content">
                Мы предоставляем полную диагностику, ремонт, техническое обслуживание и профилактику неисправностей. Мы заботимся о каждом автомобиле, как о своем, обеспечивая надежность и безопасность вашего автопарка.
            </p>
        </li>
        <li class="conditions__item">
            <h3 class="conditions__item-title">
                Приоритетное обслуживание
            </h3>
            <p class="conditions__item-content">
                Юридические лица обслуживаются по приоритетной очереди, что позволяет минимизировать время простоя транспорта и быстро решать возникающие проблемы.
            </p>
        </li>
        <li class="conditions__item">
            <h3 class="conditions__item-title">
                Любые формы оплаты
            </h3>
            <p class="conditions__item-content">
                Мы работаем по всем формам оплаты, включая безналичный расчет, что упрощает процесс взаимодействия с бухгалтерией вашей компании.
            </p>
        </li>
        <li class="conditions__item">
            <h3 class="conditions__item-title">
                Индивидуальные условия сторудничества
            </h3>
            <p class="conditions__item-content">
                Разработаем персональные тарифы и график обслуживания в зависимости от количества транспорта и особенностей его эксплуатации. Мы понимаем, что каждый бизнес уникален, и готовы предложить оптимальные условия для вашего автопарка.
            </p>
        </li>
    </ul>
</section>