<section class="conditions" id="conditions-block">
    <div class="conditions__container">
        <h2 class="title conditions__title">
            Условия для юридических лиц
        </h2>
        <p class="conditions__subtitle">
            ГАЗ Сервис предлагает уникальные условия обслуживания для&nbsp;юридических лиц, чей бизнес зависит от&nbsp;бесперебойной работы коммерческого транспорта. Мы понимаем, что&nbsp;простой автопарка — это прямые убытки, поэтому предлагаем решения, которые помогут вашему бизнесу всегда оставаться на ходу. Мы работаем с&nbsp;ООО, ОАО, ЗАО, ИП
        </p>
        <ul class="conditions__list">
            <li class="conditions__item">
                <h3 class="conditions__item-title">
                    Комплексное обслуживание автопарков
                </h3>
                <p class="conditions__item-content">
                    Мы предоставляем полную диагностику, ремонт, техническое обслуживание и&nbsp;профилактику неисправностей. Мы заботимся о&nbsp;каждом автомобиле, как о&nbsp;своем, обеспечивая надежность и&nbsp;безопасность вашего автопарка.
                </p>
            </li>
            <li class="conditions__item">
                <img src="static/images/motor.png" class="conditions__item-img" alt="Двигатель" />
            </li>
            <li class="conditions__item">
                <h3 class="conditions__item-title">
                    Индивидуальные условия сотрудничества
                </h3>
                <p class="conditions__item-content">
                    Разработаем персональные тарифы и&nbsp;график обслуживания в&nbsp;зависимости от&nbsp;количества транспорта и&nbsp;cпособенностей его эксплуатации. Мы понимаем, что&nbsp;каждый бизнес уникален, и&nbsp;готовы предложить оптимальные условия для вашего автопарка.
                </p>
            </li>
            <li class="conditions__item">
                <h3 class="conditions__item-title">
                    Приоритетное обслуживание
                </h3>
                <p class="conditions__item-content">
                    Юридические лица обслуживаются по&nbsp;приоритетной очереди, что&nbsp;позволяет минимизировать время простоя транспорта и&nbsp;быстро решать возникающие проблемы.
                </p>
            </li>
            <li class="conditions__item">
                <h3 class="conditions__item-title">
                    Безналичный расчет
                </h3>
                <p class="conditions__item-content">
                    Мы работаем по&nbsp;всем формам оплаты, включая безналичный расчет, что&nbsp;упрощает процесс взаимодействия с&nbsp;бухгалтерией вашей компании. Также наличный расчет, безналичный расчет для компаний на&nbsp;УСН и&nbsp;НДС.
                </p>
            </li>
            <li class="conditions__item">
                <h3 class="conditions__item-title">
                    Отчетная документация
                </h3>
                <p class="conditions__item-content">
                    Полный пакет закрывающих документов для&nbsp;бухгалтерской отчетности предоставляется вовремя и&nbsp;в&nbsp;полном объеме, что&nbsp;позволяет вам сосредоточиться на&nbsp;бизнесе.
                </p>
            </li>
        </ul>
    </div>
</section>