<section class="contacts" id="contact-block">
    <div class="contacts__container">
        <div class="contacts__info">
            <h2 class="contacts__title">Контакты</h2>
            <p class="contacts__text">
                Используйте навигатор или карту, чтобы построить маршрут до нашего автосервиса. 
                Мы предоставляем парковочные места и&nbsp;охраняемую стоянку с&nbsp;видеонаблюдением.
            </p>
            
            <div class="contacts__main-info">
                <div class="contacts__info-item">
                    <img src="/static/images/svg/map-icon.svg" alt="Адрес" class="contacts__icon">
                    <div class="contacts__info-content">
                        <a href="https://yandex.ru/maps/-/CHRzQUiI" target="_blank" class="contacts__link">
                            Ленинградская область, Всеволожский район, Заневское городское поселение
                        </a>
                    </div>
                </div>
                
                <div class="contacts__info-item">
                    <img src="/static/images/svg/time-icon.svg" alt="Время работы" class="contacts__icon">
                    <div class="contacts__info-content">
                        <span class="contacts__time">Ежедневно с 10:00 до 20:00</span>
                    </div>
                </div>

                <div class="contacts__info-item">
                    <img src="/static/images/svg/phone-icon.svg" alt="Телефон" class="contacts__icon">
                    <div class="contacts__info-content">
                        <a href="tel:+78129233788" class="contacts__link">+7 (812) 923-37-88</a>
                    </div>
                </div>

                <div class="contacts__info-item">
                    <img src="/static/images/svg/mail-icon.svg" alt="Почта" class="contacts__icon">
                    <div class="contacts__info-content">
                        <a href="mailto:gasservispb@yandex.ru" class="contacts__link">Gasservispb@yandex.ru</a>
                    </div>
                </div>
            </div>
            
            <div class="contacts__socials">
                <div class="contacts__socials-list">
                    <a href="https://m.vk.com/club218435158" target="_blank" class="contacts__social-link">ВКонтакте</a>
                    <a href="https://t.me/GazAvtoServis" target="_blank" class="contacts__social-link">Telegram</a>
                    <a href="https://api.whatsapp.com/send?phone=+79119233788" target="_blank" class="contacts__social-link">whatsApp</a>
                </div>
            </div>
        </div>
        
        <div class="contacts__map-wrapper">
            <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/?display-text=%D0%B3%D0%B0%D0%B7%D0%B0%D0%B2%D1%82%D0%BE%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81&ll=30.428706%2C59.931472&mode=search&oid=86278392582&ol=biz&sctx=ZAAAAAgBEAAaKAoSCTKrd7gdlj5AEVYL7DGR9E1AEhIJTS7GwDqObz8RfGKdKt8zUj8iBgABAgMEBSgKOABAv54BSAFqAnJ1nQHNzMw9oAEAqAEAvQEksyIwwgEFzvj6jV6CAhrQs9Cw0LfQsNCy0YLQvtGB0LXRgNCy0LjRgYoCAJICAJoCDGRlc2t0b3AtbWFwcw%3D%3D&sll=30.560542%2C59.931472&sspn=0.316372%2C0.091222&text=%D0%B3%D0%B0%D0%B7%D0%B0%D0%B2%D1%82%D0%BE%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81&z=12" frameborder="0" allowfullscreen="true"></iframe>
        </div>
    </div>
</section>