<section class="contacts" id="contacts-block">
    <div>
        <h2 class="contacts__title">
            Контакты
        </h2>
        <p class="contacts__text">
            Ленинградская область, Всеволожский район, Заневское городское поселение, г. Колтуши
        </p>
        <ul class="contacts__list">
            <li class="contacts__item">
                <a class="contacts__link">
                    Группа Вконтакте
                </a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link">
                    Telegram
                </a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link">
                    Whatsap
                </a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link">
                    +7 911 923 37 88
                </a>
            </li>
        </ul>
    </div>
    <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad18c6451f9e6abc310434387c451db6d646e6bbd79be19f5512ec827b1516f16&amp;source=constructor" width="1180" height="684" frameborder="0"></iframe>
</section>