<footer class="footer">
    <div class="footer__content">
        <a href="/">
            <img class="footer__logo" src="static/images/logo-footer.png" width="123" height="69" alt="logo" />
        </a>
        <h2 class="footer__content-title">
            ГазАвтоСерсис
        </h2>
        <span class="footer__content-text">
            ООО "ГазАвтоСервис"
        </span>
        <p class="footer__content-text">
            <a href="https://yandex.ru/maps/org/gazavtoservis/86278392582?si=nn2p79nb7gn1bj01ctdjve3rq0" target="_blank">
                Ленинградская область, Всеволожский район, <br /> Заневское городское поселение, г. Колтуши
            </a>
        </p>
        <iframe
            src="https://yandex.ru/sprav/widget/rating-badge/86278392582?type=rating" 
            width="150" 
            height="50" 
            frameborder="0"
        ></iframe>
    </div>
    <nav class="footer__nav">
        <ul class="footer__nav-list">
            <li class="footer__nav-item"><a href="/#about-block">О нас</a></li>
            <li class="footer__nav-item"><a href="/#work-block">Для бизнеса</a></li>
            <li class="footer__nav-item"><a href="/#vacancies-block">Вакансии</a></li>
            <li class="footer__nav-item"><a href="/#services-block">Услуги</a></li>
            <li class="footer__nav-item"><a href="/price">Цены</a></li>
            <li class="footer__nav-item"><a href="/#contacts-block">Контакт</a></li>
        </ul>
    </nav>    
    <div class="footer__contacts">
        <ul class="footer__contacts-list">
            <li class="footer__contacts-item">
                <a href="https://api.whatsapp.com/send/?phone=+79119233788&text&type=phone_number&app_absent=0" target="_blank">
                    <img src="static/images/svg/whatsapp-icon.svg" width="39" height="40" alt="whatsapp" />
                </a>
            </li>
            <li class="footer__contacts-item">
                <a href="https://m.vk.com/club218435158" target="_blank">
                    <img src="static/images/svg/vk-icon.svg" width="39" height="39" alt="vk" />
                </a>
            </li>
            <li class="footer__contacts-item">
                <a href="https://t.me/gaz_servis_spb" target="_blank">
                    <img src="/static/images/svg/telegram-icon.svg" width="39" height="39" alt="telegram" />
                </a>
            </li>
        </ul>
        <span class="footer__contacts-phone">
            <a href="tel:+79119233788">
                +7 911 923 37 88
            </a>
        </span>
    </div>
</footer>