<section class="form">
    <form
        data-form
        action="/send"
        method="POST"
        hx-post="/send"
        hx-target="#response"
        hx-trigger="submit"
        hx-on="htmx:afterRequest: clearForm()"
        hx-headers='{"HX-Redirect": "false"}'
        class="form__form"
        hx-swap="innerHTML"
    >
        <h3 class="form__title">
            Мы всегда рады ответить на любые ваши вопросы и помочь с решением проблем!
        </h3>
        <input class="form__input" placeholder="Имя" type="text" id="name" name="name" required>
        <input 
            class="form__input" 
            placeholder="+7 (___) ___-__-__" 
            type="tel" 
            data-phone-input
            name="phone" 
            required 
            maxlength="18"
        />

        <button class="button form__button" type="submit">
            Получить консультацию
        </button>
        <a class="form__privacy_link" href="/privacy" target="_blank">
            Нажимая на кнопку, вы даете согласие на обработку <br /> <span class="form__privacy">Персональных данных</span>
        </a>
        <div id="response" hx-swap="outerHTML"></div>
    </form>
    <picture class="form__img-wrapper">
        <img class="form__img" src="/static/images/form-img.png" alt="image" />
    </picture>
</section>
