<section class="form">
    <form
        data-form
        action="/send"
        method="POST"
        hx-post="/send"
        hx-target="#response"
        hx-trigger="submit"
        hx-on="htmx:afterRequest: clearForm()"
        hx-headers='{"HX-Redirect": "false"}'
        class="form__form"
        hx-swap="innerHTML"
    >
    <div class="form__container">
        <h3 class="form__title">
            Мы всегда рады ответить на любые ваши вопросы и помочь с решением проблем!
        </h3>
        
        <div class="form__form">
            <div class="form__row">
                <!-- Поле имени -->
                <div class="form__input-container">
                    <input class="form__input" placeholder="Имя" type="text" id="name" name="name" required>
                </div>
                
                <!-- Поле телефона -->
                <div class="form__input-container">
                    <input class="form__input" placeholder="Телефон" type="tel" id="phone" name="phone" required>
                </div>
                
                <!-- Кнопка с privacy link -->
                <div class="form__button-container">
                    <button class="form__button" type="submit">Получить консультацию</button>
                    <a class="form__privacy_link" href="/privacy" target="_blank">
                        Нажимая на кнопку, вы даете согласие на обработку</br>
                        <span class="form__privacy">Персональных данных</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="response" hx-swap="outerHTML"></div>
    </form>
</section>