<header class="header">
   <img src="static/images/logo.png" width="234" height="164" alt="logo"/>
   <div class="nav__wrapper">
      <div class="header__social-wrapper">
         <ul class="header__social-list">
            <li class="header__social-item"><img src="static/images/svg/whatsapp-icon.svg" width="39" height="39" alt="whatsapp" /></li>
            <li class="header__social-item"><img src="static/images/svg/vk-icon.svg" width="39" height="39" alt="vk" /></li>
            <li class="header__social-item"><img src="static/images/svg/telegram-icon.svg" width="39" height="40" alt="telegram" /></li>
         </ul>
         <span class="header__phone">
            +7 991 923 37 88
         </span>
         <a href="#" class="header__mail">
            Gasservisspb@yandex.ru
         </a>
      </div>
      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__item"><a href="/about">О нас</a></li>
            <li class="nav__item">Для бизнеса</li>
            <li class="nav__item">Вакансии</li>
            <li class="nav__item">Услуги</li>
            <li class="nav__item">Контакты</li>
         </ul>
      </nav>
   </div>
</header>