<header class="header">
   <a href="/">
      <picture>
         <source class="header__logo_mobile" srcset="/static/images/logo-mobile.png" media="(max-width: 1920px)" />
         <img class="header__logo" src="static/images/logo.png" alt="logo" />
      </picture>
   </a>
   <div class="nav__wrapper">
      <div class="header__social-wrapper">
         <ul class="header__social-list">
            <li class="header__social-item header__social-item_location"> <img src="static/images/svg/location-icon-header.svg" width="39" height="39" alt="location" /></li>
            <li class="header__social-item"><img class="header__social-icon" src="static/images/svg/whatsapp-icon-header.svg" alt="whatsapp" /></li>
            <li class="header__social-item">
               <a href="https://m.vk.com/club218435158" target="_blank">
                  <img class="header__social-icon" src="static/images/svg/vk-icon-header.svg" alt="vk" />
               </a>
            </li>
            <li class="header__social-item">
               <a href="https://t.me/gaz_servis_spb" target="_blank">
                  <img class="header__social-icon" src="static/images/svg/telegram-icon-header.svg" alt="telegram" />
               </a>
            </li>
         </ul>
         <span class="header__phone">
            <a href="tel:+79119233788">
               +7 911 923 37 88
            </a>
         </span>
         <a class="header__mail" href="mailto:Gazservisspb@yandex.ru">
            Gasservisspb@yandex.ru
         </a>
         <button class="header__burger-menu">
            <img src="static/images/svg/burger-menu.svg" width="40" height="40" alt="burger menu"/>
         </button>
      </div>
      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__item"><a href="/#about-block">О нас</a></li>
            <li class="nav__item"><a href="/#work-block">Для бизнеса</a></li>
            <li class="nav__item"><a href="/#vacancies-block">Вакансии</a></li>
            <li class="nav__item"><a href="/#services-block">Услуги</a></li>
            <li class="nav__item"><a href="/price">Цены</a></li>
            <li class="nav__item"><a href="/#contacts-block">Контакты</a></li>
         </ul>
      </nav>
   </div>
</header>

<div class="overlay"></div>

<div class="nav-mobile">
   <button class="nav-mobile__ex-button ex-btn">
      <img width="40" height="40" alt="exit menu" src="static/images/svg/exit.svg" />
   </button>
   <ul class="nav-mobile__list">
      <li class="nav-mobile__item"><a class="nav-mobile__link" href="/#about-block">О нас</a></li>
      <li class="nav-mobile__item"><a class="nav-mobile__link" href="/#work-block">Для бизнеса</a></li>
      <li class="nav-mobile__item"><a class="nav-mobile__link" href="/#vacancies-block">Вакансии</a></li>
      <li class="nav-mobile__item"><a class="nav-mobile__link" href="/#services-block">Услуги</a></li>
      <li class="nav-mobile__item"><a class="nav-mobile__link" href="/price">Цены</a></li>
      <li class="nav-mobile__item"><a class="nav-mobile__link" href="/#contacts-block">Контакты</a></li>
   </ul>
</div>