<section class="photos">
    <ul class="photos__list">
        <li class="photos__item">
            <img src="static/images/photo_auto1.png" alt="photo gaz auto" />
        </li>
        <li class="photos__item">
            <img src="static/images/photo_auto2.png" alt="photo gaz auto" />
        </li>
        <li class="photos__item">
            <img src="static/images/photo_auto3.png" alt="photo gaz auto" />
        </li>
    </ul>
    {% from 'mixins/slider.html' import slider %}

</section>