<section class="photos">
    <ul class="photos__list">
        <li class="photos__item">
            <img src="static/images/photo_auto1.png" width="580" height="616" alt="photo gaz auto" />
        </li>
        <li class="photos__item">
            <img src="static/images/photo_auto2.png" width="580" height="616" alt="photo gaz auto" />
        </li>
        <li class="photos__item">
            <img src="static/images/photo_auto3.png" width="580" height="616" alt="photo gaz auto" />
        </li>
    </ul>
</section>