<section class="services">
    <h2 class="title services__title">
        Наши услуги
    </h2>
    <div class="services__content-wrapper">
        <ul class="services__list" hx-get="/services-list" hx-trigger="load" hx-swap="outerHTML">
        </ul>
        <div class="services__content">
            <div hx-get="/service-content/0" hx-trigger="load" hx-swap="innerHTML">
            </div>
        </div>
    </div>
    <div>
        <button class="button services__button" id="openPopup">
            Получить консультацию
        </button>
    </div>
</section>
