<section class="vacancies" id="vacancies-block">
    <div class="vacancies__contact-wrapper">
        <h2 class="vacancies__contact-title">
            Наши вакансии
        </h2>
        <p class="vacancies__contact-text">
            Чтобы обсудить, свяжитесь с нами в <br /> соцсетях или по номеру телефона.
        </p>
        <ul class="vacancies__contact-list">
            <li class="vacancies__contact-item">
                <img src="static/images/svg/whatsapp-icon.svg" width="80" height="82" alt="whatsapp" />
            </li>
            <li class="vacancies__contact-item">
                <a href="https://m.vk.com/club218435158" target="_blank">
                    <img src="static/images/svg/vk-icon.svg" width="80" height="80" alt="vk" />
                </a>
            </li>
            <li class="vacancies__contact-item">
                <a href="https://t.me/gaz_servis_spb" target="_blank">
                    <img src="/static/images/svg/telegram-icon.svg" width="80" height="80" alt="telegram" />
                </a>
            </li>
        </ul>
        <div class="vacancies__contact-phone">
            <a href="tel:+79119233788">
                +7 911 923 37 88
            </a>
        </div>
    </div>
    <div class="vacancies__vacancies">
        <ul class="vacancies__list" hx-get="/job-list" hx-trigger="load" hx-swap="outerHTML">
        </ul>

        <button class="button vacancies__button">
            Все вакансии
        </button>
    </div>
</section>
