<section class="work" id="work-block">
    <h2 class="title work__title">
        Мы работаем с&nbsp;частными&nbsp;лицами и&nbsp;корпоративными клиентами
    </h2>
    <ul class="work__list">
        <li>
            <img src="static/images/lada.png" width="280" height="138" alt="Next" />
        </li>
        <li>
            <img src="static/images/yaz.png" width="280" height="84" alt="Уаз" />
        </li>
        <li>
            <img src="static/images/gazel.png" width="280" height="138" alt="Газель" />
        </li>
        <li>
            <img src="static/images/next.png" width="280" height="138" alt="Lada" />
        </li>
        <li>
            <img src="static/images/valday.png" width="280" height="138" alt="Валдай" />
        </li>
    </ul>
    <!-- {% from 'mixins/slider.html' import slider %} -->

    <ul class="work__slider">
        <li>
            <img src="static/images/lada.png" width="188" height="64" alt="Next" />
        </li>
        <li>
            <img src="static/images/yaz.png" width="104" height="64" alt="Уаз" />
        </li>
        <li>
            <img src="static/images/gazel.png" width="264" height="59" alt="Газель" />
        </li>
        <li>
            <img src="static/images/next.png" width="321" height="120" alt="Lada" />
        </li>
        <li>
            <img src="static/images/valday.png" width="212" height="92" alt="Валдай" />
        </li>
    </ul>


        <!-- {{ slider([
            'static/images/lada.png',
            'static/images/yaz.png',
            'static/images/gazel.png',
            'static/images/next.png',
            'static/images/valday.png'
        ]) }} -->
    </div>        
</section>