<section class="work">
    <h3 class="title work__title">
        Мы работаем с частными лицами <br /> и корпоративными клиентами
    </h3>
    <ul class="work__list">
        <li>
            <img src="static/images/next.png" width="440" height="156" alt="Next" />
        </li>
        <li>
            <img src="static/images/yaz.png" width="280" height="174" alt="Уаз" />
        </li>
        <li>
            <img src="static/images/gazel.png" width="430" height="96" alt="Газель" />
        </li>
        <li>
            <img src="static/images/lada.png" width="291" height="204" alt="Lada" />
        </li>
        <li>
            <img src="static/images/valday.png" width="280" height="122" alt="Ваадай" />
        </li>
    </ul>
</section>