<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Газ Авто Сервис</title>
        <meta name="description" content=" Ремонт и обслуживание коммерческого транспорта семейства «ГАЗ-УАЗ» в Санкт-Петербурге. Контактная информация +7 812 923 37 88, ежедневно 10:00 - 20:00. Комплексное обслуживание автопарков. Контроль качества. Любая форма оплаты.">
        <meta name="keywords" content="ГазАвтоСервис, Автосервис в г. Санкт-Петербург, Предлагает ремонт и обслуживание коммерческого транспорта">
        <meta name="author" content="Gazservisspb@yandex.ru">
        <meta name="geo.placename" content="Ленинградская обл. г. Колтуши">
        <meta name="geo.region" content="RU">
        <meta property="og:location" content="Ленинградская обл. г. Колтуши">

        <link rel="icon" href="/static/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicons/favicon-32x32.png" type="image/png" sizes="32x32">
        <link rel="icon" href="/static/favicons/favicon-16x16.png" type="image/png" sizes="16x16">
        <link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="manifest" href="/static/favicons/site.webmanifest">
        
        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    
        <script type="application/ld+json">
            {{ {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": site_name,
                "url": site_url,
                "description": site_description
            } | tojson }}
        </script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
            ym(100205425, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/100205425" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-TSCJTLVB"
                height="0" width="0" style="display:none;visibility:hidden"
            >
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="preload" href="/static/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    </head>

    <body class="body">
        {% include 'blocks/header.html' %}
        <!-- {% include 'blocks/banner.html' %} -->
        {% include 'blocks/about.html' %}
        {% include 'blocks/work.html' %}
        {% include 'blocks/advantages.html' %}
        <!-- {% include 'blocks/services.html' %} -->
        {% include 'blocks/price.html' %}
        {% include 'blocks/conditions.html' %}
        {% include 'blocks/photos.html' %}
        {% include 'blocks/form.html' %}
        {% include 'blocks/contacts.html' %}
        {% include 'blocks/footer.html' %}

        {% include 'blocks/complitedPopup.html' %}
        {% include 'blocks/popup.html' %}
    </body>
    <script src="/static/scripts/anchor.js"></script>
    <script src="/static/scripts/tabs.js"></script>
    <script src="/static/scripts/burgerMenu.js"></script>
    <script src="/static/scripts/slider.js"></script>
    <script src="/static/scripts/phoneValidate.js"></script>
    <script src="/static/scripts/clearForm.js"></script>
    <script src="/static/scripts/accordion.js"></script>
    <script src="/static/scripts/popup.js"></script>
    <script src="/static/scripts/sticky.js"></script>
    <script src="/static/scripts/tabsStyles.js"></script>
</html>
