<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Газ Авто Сервис</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script type="application/ld+json">
        {{ {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": site_name,
            "url": site_url,
            "description": site_description
        } | tojson }}
    </script>
    <link rel="stylesheet" href="/static/styles/index.css">
<body>
    {% include 'blocks/header.html' %}
    {% include 'blocks/about.html' %}
    {% include 'blocks/advantages.html' %}
    {% include 'blocks/work.html' %}
    {% include 'blocks/services.html' %}
    {% include 'blocks/form.html' %}
    {% include 'blocks/footer.html' %}
</body>
</html>
