<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Газ Авто Сервис</title>
        <meta name="description" content=" Мы знаем, что поломки — это потерянные возможности для бизнеса. Наш автосервис в г. Колтуши  «ГАЗ Сервис» предлагает ремонт и обслуживание коммерческого транспорта, которые минимизируют простои и потерю денег.">
        <meta name="keywords" content="ГАЗ Сервис, Автосервис в г. Колтуши, Предлагает ремонт и обслуживание коммерческого транспорта">
        <meta name="author" content="Gazservisspb@yandex.ru">
        <meta name="geo.placename" content="Ленинградская обл. г. Колтуши">
        <meta name="geo.region" content="RU">
        <meta property="og:location" content="Ленинградская обл. г. Колтуши">
    
        <link rel="icon" href="/static/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicons/favicon-32x32.png" type="image/png" sizes="32x32">
        <link rel="icon" href="/static/favicons/favicon-16x16.png" type="image/png" sizes="16x16">
        <link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="manifest" href="/static/favicons/site.webmanifest">
    
        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
        
        <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="preload" href="/static/fonts/Raleway-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    </head>
    
    <body class="body">
        {% include 'blocks/header.html' %}
        <section class="price__main-info">
            <h2 class="title price__title">
                Мы работаем с частными лицами <br /> и корпоративными клиентами
            </h2>
            <p class="price__text">
                Мы предлагаем профессиональное обслуживание коммерческого транспорта с <br /> минимальными простоями и гарантией надежности. Наши специалисты обладают <br /> глубокими знаниями и опытом работы с коммерческим автопарком, что позволяет <br /> обеспечивать точную диагностику, оперативный ремонт и техобслуживание.
            </p>
        </section>

        {% import 'mixins/price_list.html' as price_list %}

        <section class="price">
            {{ price_list.render_price(price['items'], price['title']) }}
            {{ price_list.render_price(price_2['items'], price_2['title']) }}
        </section>
        
        {% include 'blocks/form.html' %}

        <section class="price">
            {{ price_list.render_price(price_2['items'], price_2['title']) }}
            {{ price_list.render_price(price_2['items'], price_2['title']) }}
        </section>
        
        {% include 'blocks/footer.html' %}
    </body>
    <script src="/static/scripts/anchor.js"></script>
    <script src="/static/scripts/burgerMenu.js"></script>
    <script src="/static/scripts/phoneValidate.js"></script>
    <script src="/static/scripts/clearForm.js"></script>
    <script src="/static/scripts/popup.js"></script>
    <script src="/static/scripts/sticky.js"></script>
</html>
