.advantages {
    margin-bottom: 180px;
}

.advantages__list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.advantages__title {
    color: rgba(241, 114, 27, 1);
    font-size: 48px;
    line-height: 62.4px;
    font-weight: 600;
    margin-bottom: 107px;
}

.advantages__info {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}

.advantages-card {
    background-color: rgba(245, 246, 249, 1);
    border-radius: 16px;
}

.advantages-card__title {
    font-size: 32px;
    line-height: 37.57px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 1);
}

.advantages-card__text {
    font-size: 18px;
    line-height: 21.13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}