.conditions {
    background: #F5F6F9;
    padding: 60px 30px; 
    margin-bottom: 140px;
}

.conditions__title {
    font-size: 42px;
    margin-bottom: 50px; 
}

.conditions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.conditions__item {
    background-color: #ffffff;
    padding: 50px 26px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 357px;
}

.conditions__item-title {
    font-size: 32px;
    line-height: 37.57px;
    font-weight: 600;
    color: #F1721B;
}

.conditions__item-content {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 500;
    color: #000000;
}

.conditions__item-img {
    max-width: 528px;
    min-width: 303px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 1281px) {
    .conditions__list {
        display: flex;
        flex-direction: column;
    }

    .conditions__item {
        min-height: 100%;
    }

    .conditions__title {
        font-size: 40px;
    }

    .conditions__item-title {
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 701px) {
    .conditions {
        margin-bottom: 100px;
        order: 5;
    }
}