.conditions {
    background: #F5F6F9;
    padding: 60px 30px; 
    margin-bottom: 140px;
    /* FIXME: ! */
    display: none;
}

.conditions__title {
    margin-bottom: 50px; 
}

.conditions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.conditions__item {
    background-color: #ffffff;
    padding: 50px 26px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 357px;
}

.conditions__item-title {
    font-size: 32px;
    line-height: 37.57px;
    font-weight: 600;
    color: #F1721B;
}

.conditions__item-content {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 500;
    color: #000000;
}

.conditions__item-img {
    width: 528px;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 1921px) {
    .conditions__item:nth-child(2) {
        grid-area: second;
        min-height: auto;
    }

    .conditions {
        order: 6;
        padding: 0;
    }

    .conditions__list {
        padding: 0 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        grid-template-areas: 
            "second"
            "first"
            "third";
    }

    .conditions__item:nth-child(1) {
        grid-area: first;
    }

    .conditions__item:nth-child(3) {
        grid-area: third;
    }

    .conditions__item-img {
        width: 303px;
        height: auto;
    }
}

@media screen and (max-width: 1921px) {
    .conditions {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 16px;
        padding-bottom: 10px;
    }

    .conditions__title {
        padding: 20px 10px;
        text-align: center;
    }

    .conditions__item {
        min-height: auto;
        gap: 80px;
    }

    .conditions__item-title {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .conditions {
        border-radius: 0;
    }
}

@media screen and (max-width: 420px) {
    .conditions__title {
        text-align: start;
    }

    .conditions__item-title {
        text-align: start;
    }
}