/* desktop */
.header {
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    margin-bottom: 26px;
}

.header__content-wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 171px;
    height: 88px;
}

.header__title {
    display: flex;
    font-size: 42px;
    line-height: 130%;
    font-weight: 700;
    color: #434341;
    text-align: center;
}

.header__social-list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.header__social-item_location {
    display: flex;
    gap: 8px;
    margin-right: 20px;
}

.header__social-item-location-icon {
    width: 24px;
    height: 24px;
}

.header__social-item_location-text {
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: #434341;
}

.header__mail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 20px;
}

.header__phone {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    color: #000000;
}

.header__mail {
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
    color: #4F4E4C;
    text-decoration: underline;
    text-transform: uppercase;
}

.header__nav-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    background: #F5F6F9;
    border-radius: 10px;
    padding: 10px;
}

.nav {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.nav__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    cursor: pointer;
}

.nav__item:hover {
    color: #F1721B;
}

.header__button {
    border: none;
    border-radius: 10px;
    background: #F1721B;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
    padding: 14px 77px;
    white-space: nowrap;
}

.header__burger-menu {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #F5F6F9;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 30px 40px;
    margin: 10px;
}

.header__social-item_title {
    display: none;
}

/* tablet */
@media screen and (max-width: 1879px) {
    .header {
        padding: 5px 10px;
    }

    .header__logo {
        width: 84px;
        height: 45px;
    }    

    .header__title {
        font-size: 19px;
        line-height: 100%;
    }

    .header__social-list {
        gap: 10px;
    }

    .header__social-item_location {
        gap: 4px;
        margin-right: 10px;
    }

    .header__social-item-location-icon {
        width: 9px;
        height: 11px;
    }

    .header__social-item_location-text {
        font-size: 8px;
        font-weight: 400;
    }
    
    .header__phone {
        font-size: 16px;
        font-weight: 700;
        line-height: 100%;
    }

    .header__mail {
        font-size: 10px;
    }

    .header__nav-wrapper {
        padding: 5px 10px;
    }

    .nav {
        flex-direction: row-reverse;
    }

    .nav__list {
        display: none;
    }

    .header__burger-menu {
        width: 30px;
        height: 30px;
        display: block;
        border: none;
        padding: 0;
        background-color: inherit;
    }

    .header__burger-menu-icon {
        width: 30px;
        height: 30px;
    }

    .header__button {
        font-size: 10px;
        padding: 12px 47px;
    }

    .header__social-icon {
        width: 30px;
        height: 30px;
    }

    .header__mail-wrapper {
        margin-left: 10px;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .nav-mobile.active {
        display: flex;
        transform: translateX(0);
        background: #373737;
    }

    .nav-mobile__ex-button {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: 0;
        border: none;
        background-color: inherit;
    }

    .nav-mobile__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        text-decoration: none;
    }

    .nav-mobile__item {
        color: #ffffff;
        font-size: 20px;
        line-height: 23.48px;
        font-weight: 500;
    }
}

/* mobile */
@media screen and (max-width: 743px) {
    .header {
        padding: 5px 10px;
    }

    .header__title {
        display: none;
    }

    .header__social-item_whatsapp {
        display: none;
    }

    .header__social-item_vk {
        display: none;
    }

    .header__social-item_tg {
        display: none;
    }

    .header__logo {
        width: 70px;
        height: 37px;
    }

    .header__nav-wrapper {
        padding: 6px 10px;
    }

    .header__button {
        font-size: 10px;
        padding: 10px 27px;
    }

    .header__social-item_title {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 100%;
        color: #434341;
        padding-left: 13px;
    }

    .header__social-item_location-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 3px;
    }

    .header__mail-wrapper {
        margin: 0;
    }

    .header__phone {
        margin-bottom: 2px;
    }

    .header__social-list {
        gap: 0;
    }
}