.photos {
    margin-bottom: 140px;
    margin-left: 30px;
    margin-right: 30px;
}

.photos__list {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
    justify-content: space-between;
}

.photos__icon {
    width: 580px;
    height: 616px;
    border-radius: 16px;
}

.photos__item {
    border-radius: 16px;
}

@media screen and (max-width: 701px) {
    .photos {
        margin: 0 0 100px 0;
        order: 7;
    }

    .photos__icon {
        width: 370px;
        height: 392px;
    }
}