.photos {
    margin-bottom: 140px;
    margin-left: 30px;
    margin-right: 30px;
}

.photos__list {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
    justify-content: space-between;
}