.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    margin-left: 30px;
    margin-right: 30px;
}

.price__main-info {
    margin-bottom: 108px;
    margin-left: 30px;
    margin-right: 30px;
}

.price__title {
    margin-bottom: 24px;
}

.price__text {
    font-size: 20px;
    line-height: 26px;
}

@media screen and (max-width: 1920px) {
    .price {
        flex-direction: column;
        gap: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .price__title {
        font-size: 30px;
        line-height: 39px;
        font-weight: 500;
    }

    .price__text {
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 500;
    }
    
    .price__main-info {
        margin: 0 auto 60px auto;
        width: 100%;
        max-width: 850px;
    }
}