.work {
    margin-bottom: 140px;
    margin-left: 30px;
    margin-right: 30px;
}

.work__title {
    margin-bottom: 80px;
}

.work__list {
    display: flex;
    gap: 17px;
    align-items: center;
    overflow-y: auto;
}