.work {
    padding: 40px 70px;
    line-height: 130%;
}

.work__title {
    margin-bottom: 40px;
    padding: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    text-align: start;
}

.work__list {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0;
}

.work__list img {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.work__slider {
    display: none;
}

/* Tablet version */
@media screen and (max-width: 1280px) {
    .work {
        padding: 40px 22px;
    }

    .work__title {
        font-size: 48px;
        line-height: 130%;
        margin-bottom: 60px;
    } 

    .work__list {
        display: none;
    }

    .work__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .work__slider img {
        width: auto;
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }
}

/* Mobile version */
@media screen and (max-width: 768px) {
    .work {
        margin: 0;
        padding: 20px 20px;
    }

    .work__title {
        text-align: left;
        font-size: 28px;
        line-height: 36.4px;
        margin-bottom: 40px;
        padding: 0;
    } 

    .work__slider {
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .work {
        margin: 0;
        padding: 12px 15px;
    }
}